{% extends "layout.html" %}

{% block content %}
<div class="hero">
    <h1>Hello there,</h1>
    <p>I am Arjun 🙌</p>
    <p>I am a software dev from India.</p>
    <br>
    <p>When I am not trying to build the next big thing, you can find me reading books, playing video games or
        meditating.</p>
    <br>
    <p>"Praise the sun!"</p>

    <div class="social-links">
        <a href="https://twitter.com/arjunrambles" target="_blank" rel="noopener noreferrer">Twitter</a>
        <a href="https://github.com/arjunomray" target="_blank" rel="noopener noreferrer">GitHub</a>
        <a href="https://linkedin.com/in/array0111" target="_blank" rel="noopener noreferrer">LinkedIn</a>
    </div>
</div>
{% endblock %}